<%- layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">

    <h1>Create New Listing</h1>

    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title"
               class="form-control"
               placeholder="Add a catchy Title" required>
        <div class="invalid-feedback">Please enter catchy title</div>
      </div>

      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea id="desc" name="description"
                  class="form-control"
                  required></textarea>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="pr" class="form-label">Price</label>
          <input type="number" id="pr" name="price"
                 class="form-control" required>
        </div>

        <div class="mb-3 col-md-8">
          <label for="coun" class="form-label">Country</label>
          <input type="text" id="coun" name="country"
                 class="form-control" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="loca" class="form-label">Location</label>
        <input type="text" id="loca" name="location"
               class="form-control" required>
      </div>


      <div class="mb-3">
        <label for="ima" class="form-label">Upload Listing Image</label>
        <input type="file" id="ima" name="image"
               class="form-control" required>
      </div>

      <button class="btn btn-dark">Add</button>
      <br>
    </form>
  </div>
</div>

